	<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
	<!-- CLIENTS -->
	<div class="our-clients">
		<h5><span class="section-footer-title">PARTENAIRES</span></h5>
	</div>
	<!-- CLIENT LIST -->
	<div class="client-list">
		<ul class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<li><a href="#"><%= image_tag "clients/6.png" %></a></li> <!-- 130x52 -->
			<li><a href="#"><%= image_tag "clients/6.png" %></a></li>
			<li><a href="#"><%= image_tag "clients/6.png" %></a></li>
			<li><a href="#"><%= image_tag "clients/6.png" %></a></li>
			<li><a href="#"><%= image_tag "clients/6.png" %></a></li>
		</ul>
	</div> <!-- / END CLIENT LIST -->
	</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->