<!-- =========================
   PRODUCTS SECTION   
============================== -->

<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">
			
    <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Produits</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Produits recommandés
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
		
		<!-- PRODUCTS -->
		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            
            <!-- SINGLE PRODUCT -->
                <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
						<%= image_tag ('fume.jpg')%> 
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre fumé</h5>  <!-- PRODUCT TITLE-->
										<p class="subdescription">
											 Diamètre 5mm
										</p> <!-- PRODUCT DESCRIPTION-->
									</div>
								</div>
								<div class="item-product-price">
									<!-- PRICE -->
									<span class="price-num green-text">€17</span> 
									<!-- OLD PRICE START -->
									<p class="subdescription">
										 €36
									</p>
									<div class="old-price">
									</div> <!-- END OLD PRICE -->
								</div>
							</div>
						</div>
						
						<!-- ITEM HOVER CONTENT-->
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- / END FIRST ITEM -->
			
			<div class="col-md-3">
				<div class="item item-2">
					<div class="item-overlay">
						<%= image_tag ('trempe.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre teinté</h5>
										<p  class="subdescription">
											 Verre 6mm
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€17</span>
									<p class="subdescription">
										 €36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-3">
					<div class="item-overlay">
						<%= image_tag ('silicone.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Joint silicone</h5>
										<p class="subdescription">
											 Couleur blanche
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€9</span>
									<p class="subdescription">
										 €15
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-4">
					<div class="item-overlay">
						<%= image_tag ('reflechissant.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre sombre</h5>
										<p class="subdescription">
											 Verre 4mm
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€11</span>
									
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div> <!-- END FIRST ROW -->
			
			<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-md-3">
				<div class="item item-5">
					<div class="item-overlay">
						<%= image_tag ('transparent.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre transparent</h5>
										<p class="subdescription">
											 Verre 8mm
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€15</span>
									<p class="subdescription">
										 €23
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-6">
					<div class="item-overlay">
						<%= image_tag ('reflechissant2.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre réfléchissant</h5>
										<p class="subdescription">
											 Verre 5mm
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€18</span>
									<p class="subdescription">
										 €30
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-7">
					<div class="item-overlay">
						<%= image_tag ('siliconenoir.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Joint silicone</h5>
										<p class="subdescription">
											 Couleur noir
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€10</span>
									
								
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-8">
					<div class="item-overlay">
						<%= image_tag ('verreclair.jpg')%>
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Verre clair</h5>
										<p class="subdescription">
											 Verre 3mm
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">€17</span>
									<p class="subdescription">
										 €36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Descriptif
									</p>
								</div>
								<div class="section">

									<a href="#" class="btn btn-primary custom-button green-btn">Acheter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- / END PRODUCTS LIST -->
	</div> <!-- / END CONTAINER -->
</div> <!-- / END COLOR OVERLAY -->
</section> <!-- / END PRODUCTS SECTION -->
