<div id="home" class="header">
<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
<div class="container">

  <!-- HEADING -->
  <h1 class="intro">Active Verre - Les experts verriers</h1>

  <!-- CALL TO ACTION BUTTONS -->
  <div class="buttons">
    <a href="#works" class="btn btn-primary custom-button red-btn">Nos travaux précédents</a>
    <a href="#" class="btn btn-primary custom-button green-btn">Demandez un devis</a>
  </div>

  <!-- 3 SHORT MESSAGE ABOUT COMPANY -->
  <div class="row bottom-message-section">
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon icon-fontawesome-webfont-358"></i> Installation
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon-fontawesome-webfont-286"></i> Dépannage
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon-fontawesome-webfont-347"></i> Rénovation
      </div>
    </div>
  </div>
</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
</div>
<%= render 'presentation' %>
<%= render 'travaux' %>
<%= render 'clients' %>
<%= render 'descriptifmiroiterie' %>
<%= render 'descriptifserrurerie' %>
<%= render 'descriptifmetallerie' %>
<%= render 'produits' %>
<%= render "contact" %>
