<%= form_for(@order) do |f| %>
   <div>
    Un mail contenant une facture sera envoyé à l'addresse: <%= @mail %> 
  </div>
  <div>
    L'addresse de livraison est la suivante:
  </div>
  <ul>
    <li><%= @name %><br></li>
    <li><%= @address %></li>
  </ul>
  <div>
    <a href="/users/edit">Modifier ces informations</a>
 <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>
