<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="works">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Nos réalisations</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Voici différents travaux 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- PORTFOLIO ITEMS-->
		<ul class="cbp-rfgrid">
		
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
						
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
		<!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li>
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
         
         <!-- PROJECT -->	
        <li>
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
         <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more">
        	<%= image_tag ("pate.jpg")%>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Détails </h5>
					<div class="details white-text">
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- ... -->
		</ul>
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
</div>
	
	<!-- PROJECT DETAILS WILL BE LOADED HERE -->
	<div id="loaded-content"></div>

    <a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Go Back</a>
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->