<!DOCTYPE html>
<html>
<head>
  <title>Active Verre</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>
<body>

<div class="preloader">
  <div class="status">&nbsp;</div>
</div>
<header>

  <!-- TOP BAR -->
  <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header responsive-logo">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#home" class="navbar-brand">
          <%= image_tag ("logo.png") %>
        </a>
      </div>
      <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
          <li><a href="#home">Accueil</a></li>
          <li><a href="#features">Miroiterie</a></li>
          <li><a href="#serrurerie">Serrurerie</a></li>
          <li><a href="#metallerie">Metallerie</a></li>
          <li><a href="#products">Produits Verriers</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- / END TOP BAR -->
</header> <!-- / END HOME SECTION  -->

<%= yield %>


<footer>
  <div class="container">

    <!-- COMPANY ADDRESS-->
    <div class="col-md-5 company-details">
      <div class="icon-top red-text">
        <i class="icon-fontawesome-webfont-302"></i>
      </div>
      1 Allée du Mali 94260 FRESNES
    </div>

    <!-- COMPANY EMAIL-->
    <div class="col-md-2 company-details">
      <div class="icon-top green-text">
        <i class="icon-fontawesome-webfont-329"></i>
      </div>
      infos@activeverre.fr
    </div>

    <!-- COMPANY PHONE NUMBER -->
    <div class="col-md-2 company-details">
      <div class="icon-top blue-text">
        <i class="icon-fontawesome-webfont-101"></i>
      </div>
      <ul>
        <li>Tel : 09.52.98.58.53</li>
        <li>Port : 06.82.19.92.83</li>
        <li>Fax : 01.46.68.92.82</li>
      </ul>
    </div>

    <!-- SOCIAL ICON AND COPYRIGHT -->
    <div class="col-lg-3 col-sm-3 copyright">
      <ul class="social">
        <li><a href=""><i class="icon-facebook"></i></a></li>
        <li><a href=""><i class="icon-twitter-alt"></i></a></li>
        <li><a href=""><i class="icon-linkedin"></i></a></li>
      </ul>
      ©2014 WebParisRails
    </div>
  </div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->

</body>
</html>
