<!DOCTYPE html>
<html>
<head>
  <title>Books Online Store</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<div id="banner">
  <%= image_tag("http://t0.gstatic.com/images?q=tbn:ANd9GcQKfsvwMkP2Vaf6YspjouLJFuuRvzTwMaKRzcdSRyNE7RgNPNAO-rI8Yg") %>
  <%= @page_title || "Salut Millie" %>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
          <% end %>
      <% end %>
    </div>
    <ul>
      <li>
        <%=link_to("Home", store_index_path)%>
      </li>
      <li><a href="http://www.google.com">Questions</a></li>
      <li><a href="http://www..../news">News</a></li>
      <li><a href="http://www..../contact">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>